.page {
    background-color: var(--weui-BG-2);
}
[weui-modal-show='false']{
  .weui-half-screen-dialog{
    transition:transform .3s;
    transform:translateY(100%);
  }
}
[weui-modal-show='true']{
  .weui-half-screen-dialog{
    transform:translateY(0);
  }
}
